@model IEnumerable<Notification_Management.Models.Notification>

<h4>All Notifications</h4>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Message
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Message</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            <tr>
                <td>@notification.Message</td>
                <td>@notification.DateCreated</td>
                <td>
                    @if (!notification.IsRead)
                    {
                        <a href="@Url.Action("MarkAsRead", "Notifications", new { id = notification.Id })">Mark as read</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<form method="post" action="/Notifications/ClearAllNotifications">
    <button type="submit" class="btn btn-danger">Clear All Notifications</button>
</form>

